// https://developer.twitter.com/en/apps
{
  "consumer_key": "xyz", // from Twitter.
  "consumer_secret": "xyz", // from Twitter.
  "access_token_key": "abc", // from your User (oauth_token)
  "access_token_secret": "abc" // from your User (oauth_token_secret)
}